@model IEnumerable<RMS.Data.Models2.Property>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.PropertyAddress)*@
            Address
        </th>

        <th>Description</th>
    </tr>

@foreach (var item in Model) {
    <tr>        
         <td>
            @Html.DisplayFor(modelItem => item.PropertyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PropertyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PropertyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PropertyId })
        </td>
    </tr>
}

</table>
